
.slider-frame{
    overflow: hidden;
    height: 800px;
    width: 1200px;
    margin-left: 360px;
    margin-top: 20px;
}

@keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left:0px;}
}

@-webkit-keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left:0px;}
}

.slide-images{
    width: 3600px;
    height: 100px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.img-container{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}

h1 {
    font-size: 60px;
    font-style: bold;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}


body {
    background: linear-gradient(to top, rgb(12, 211, 218),rgb(14, 176, 226),rgb(11, 97, 133),rgb(8, 98, 189),rgb(11, 74, 209),rgb(30, 13, 219));
}
.B {
    background-color: lightcoral;
    padding:15px;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    border: 5px solid red;
    padding-bottom: 50px;
}

.B h2 {
    font-size: 45px;
    font-style: bold;
    color: white;
    text-align: center;
}

.container {
    background-color: yellow;
    font-style: bold;
    font-size: 25px;
    height: 200px;
    width: 1000px;

}

.box {
    padding-left: 200px;
    padding-top: 40px;
}

.container button {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(240, 16, 232);
    color: black;
}

.C {
    padding-left: 140px;
}

.D {
    padding-left: 140px;
}

.E {
   padding-left: 140px;
}

.container {
    display: flex;
}

.p1 {
    text-align: center;
}

.p2 {
    text-align: center;
}

.box-a {
    padding-left: 600px;
}

.hotel-box {
    background-color: yellow;
    border: 10px solid orange;
    padding: 20px;
    width: 300px;
    margin: 20px;
    font-style: italic;
    font-size: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  ol {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  